body{
    align-items:center;
}

.mobile{
width: 360px;
max-width: 600px;
height:844px;
background-color:salmon;
}

.navbar{
height:64px;
display:flex;
width:100%;
background-color:yellow;
display: flex;
justify-content:space-between;
align-items: center;
}

.navbar img:nth-child(1){
    width:48px;
    height:48px;
    display: block;
    margin-left:2rem;
}

.navbar img:nth-child(2) {
    width: 24px;
    height: 16px;
    display: block;
    margin-right:2rem;
}

.navbar img:nth-child(2):hover{
    
}