*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*=== Header Upper ===*/
.header-upper{
	position: relative;
	top: 0;
	background-color:#252742;
	height: 87px;
	left: 0;
    right: 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.header-upper.sticky {
    top: 0;  /* Header akan berada di atas */
}

.main-header .nav-outer .logo-outer{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 12px;
	left: 50%;
	z-index:2;
	transform: translateX(-50%);
}

.main-header .nav-outer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	position: sticky;
	float: right;
	width:100%;
	z-index:1;
}

.main-header .nav-outer .logo-header{
	display: inline-block;
	max-width: 71px;
	position: relative;
}

.main-header .nav-outer .logo-header img{
	position: relative;
	display: inline-block;
	width: 71px;
	height: 71px;
}

.main-header .nav-outer .logo-outer h1{
	margin: 0;
    color: white;
    font-size: 28px;
    font-family: "Figtree";
    font-weight: 600;
}

/* Main Menu */

.main-menu{
	position:relative;
	float:left;
	width:100%;
}

.main-menu .navbar-collapse{
	padding:0px;
	display:block !important;
}

.main-menu .navigation{
	position:relative;
	margin:0px;
}

.main-menu .navigation > li{
	position:relative;
	float:left;
	z-index:2;
	padding:25px 0px;
	margin-right: 65px;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li:last-child{
	margin-right:0px;
}

.main-menu .navigation > li > a{
	font-family: "Figtree";
	position:relative;
	display:block;
	text-align:center;
	font-size:18px;
	line-height:28px;
	font-weight:500;
	opacity:1;
	color:white;
	padding: 0px;
	z-index:1;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a{
	color: #ffffff;
}

.main-menu .navigation > li > ul{
	position:absolute;
	left:0px;
	top:100%;
	width:230px;
	z-index:100;
	display:none;
	opacity: 0;
    visibility: hidden;
	padding: 0px 0px;
	background-color: #ffffff;
	border-top: 2px solid #1C1E32;
	-moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
    transform: translateY(30px);
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	border-radius: 8px;
}

.main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	width:0%;
	height:100%;
	display:block;
	background:#252742;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover:before{
	width:100%;
}

.main-menu .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:12px 20px;
	line-height:24px;
	font-weight:500;
	font-size:15px;
	font-family: "Figtree";
	text-transform:capitalize;
	color:#252525;
	text-align: left;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a{
	color:#ffffff;
}

.arrow {
    font-size: 10px;
    margin-left: 6px;
    transition: transform 0.3s ease;
	opacity: 0.5;
}

.main-menu .dropdown:hover .arrow {
    transform: rotate(180deg); /* Rotates arrow on hover */
	opacity: 1;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
	font-family: "Figtree";
	content: "\f105";
	position:absolute;
	right:20px;
	top:12px;
	display:block;
	line-height:24px;
	font-size:16px;
	font-weight:800;
	text-align:center;
	z-index:5;	
}

.main-menu .navigation > li > ul > li > ul{
	position:absolute;
	left:100%;
	top:-2px;
	width:230px;
	z-index:100;
	display:none;
    padding: 0px 0px;
	background-color: #ffffff;
	border-top: 2px solid #3786ff;
	-moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
    transform: translateY(30px);
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.main-menu .navigation > li > ul > li > ul.from-right{
	left:auto;
	right:0px;	
}

.main-menu .navigation > li > ul > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > ul > li:hover:before{
	width:100%;	
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > ul > li > a{
	position:relative;
	display:block;
	padding:12px 20px;
	line-height:24px;
	font-weight:500;
	font-size:15px;
	font-family: "Figtree";
	text-transform:capitalize;
	color:#252525;
	text-align: left;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a{
	color:#ffffff;
}

.main-menu .navigation .dropdown {
    position: relative;
    display: inline-block;
}

.main-menu .navigation > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
    transform: translateY(0);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-menu .navigation li.dropdown .dropdown-btn{
	position:absolute;
	width:34px;
	height:30px;
	border:1px solid #ffffff;
	text-align:center;
	font-size:16px;
	line-height:26px;
	color:#ffffff;
	cursor:pointer;
	z-index:5;
	display:none;
}

.dropdown-toggle::after{
	display: none;
}